.thumb {
  position: relative;
  img {
    width: 100%;
  }
}

.offer {
  padding: 3rem;
}

.offers {
  padding: 1rem;
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#image_info {
  text-align: center;
  font-family: "Minion Pro";
  font-style: italic;
  span {
    font-weight: bold;
    color: #E54C3C;
  }
}

#quality {
  padding: 3rem;
}
