<div class="container">
  <div class="jumbotron">
    <h2>Active booking of tours</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui libero voluptates dolor deserunt rem enim sapiente? Inventore
      beatae aperiam eveniet, quae cum velit. Obcaecati, dignissimos unde minima praesentium eius doloremque.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">E-mail</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Date</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngIf="active != 0;else emptyTours">
          <tr *ngFor="let tour of bookings">
            <ng-container *ngIf="tour.email == userEmail">
              <td>{{tour.title}}</td>
              <td>{{tour.email}}</td>
              <td>{{tour.firstname}}</td>
              <td>{{tour.lastname}}</td>
              <td>{{tour.date}}</td>
              <td>
                <fa name="usd"></fa> {{tour.price}}</td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<ng-template #emptyTours>
  <h3> No active booking!</h3>
</ng-template>
