<!-- Start Image-Slider -->
<div class="container-fluid img-fluid">
  <app-carousel-basic></app-carousel-basic>
</div>
<!-- End Image-Slider -->

<!-- Start Offers-Intro -->
<div class="container offers">
  <div class="row">
    <!-- Offers-Intro Item -->
    <div class="col-4">
      <img class="center" src="https://image.ibb.co/etWywT/races.png" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">Quick Service</h4>
        <p class="card-text text-justify">You don’t want to stop at our shop? Don’t worry, if you book your bike online and choose the delivery service, we
          will bring your bike directly to your hotel or apartment in the whole area of Nova Varos and Zlatar.</p>
      </div>
    </div>
    <!-- Offers-Intro Item -->
    <div class="col-4">
      <img class="center" src="https://image.ibb.co/cthMGT/medal.png" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">Top Quality</h4>
        <p class="card-text text-justify">If you are looking for an online bike rental service, at mBike in Nova Varos you will always find last generation
          and top-quality bikes.</p>
      </div>
    </div>
    <!-- Offers-Intro Item -->
    <div class="col-4">
      <img class="center" src="https://image.ibb.co/my5VAo/secure_shield.png" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">Top Security</h4>
        <p class="card-text text-justify">We offer road bikes, mountain bikes and e-bikes of the exclusive as well as high-level accessories and clothing.
          In our shop you can rent or buy bikes and also use our excellent bike service and assistance for your bicycle.
        </p>
      </div>
    </div>

  </div>
  <div class="row">
    <!-- Offers-Intro Button-->
    <div class="col-12 text-center">
      <a routerLink="/about" class="btn btn-outline-light btn-lg" href="">About Us</a>
    </div>

  </div>
</div>
<!-- End Offers-Intro -->


<!-- Start Rent-A-Bike -->
<div class="container-fluid rent-a-bike">
  <img class="img-fluid" src="http://suriyage.com//main_slides/1496837964_7664674_suriyage_Bianchi-Specialissima-Super-Record-1-2000x500.jpg"
    alt="Bike">
  <div class="centered text-center">
    <h1>RENT YOUR OWN BIKE!</h1>
    <p>Prices starting from
      <span> 2</span> €</p>
    <hr>
    <button routerLink="/offer" type="button" class="btn btn-outline-light btn-lg">
      <fa name="bicycle"></fa> Rent-A-Bike</button>
  </div>
</div>
<!-- End Rent-A-Bike -->


<!-- Start Tours-Intro -->
<div class="container tours">
  <div class="row text-center">
    <!-- Title -->
    <div class="col-12">
      <h1>FEATURED BIKING TOURS</h1>
      <hr>
    </div>

    <div class="col-12">
      <div class="row">
        <!-- Tours-Intro Item -->
        <div class="col-4 tours-item">
          <h4>
            City Center Tour
          </h4>
          <img class="img-thumbnail" src="https://www.priboj033.com/wp-content/uploads/2013/01/NV-800x500_c.jpg" alt="Nova Varos">
          <p class="card-body text-justify">Nova Varos is a little town in south-western Serbia. It emerged under the Zlatar mountain, and today it remains
            surrounded by many pearls of nature. But these natural attractions are not all Nova Varos is famous for...</p>
          <p class="text-justify ">
            <span>
              <fa name="check"></fa>
            </span> Starts every day at 14.00 pm
            <br>
            <span>
              <fa name="clock-o"></fa>
            </span> 3 hour tour
            <br>
            <span>
              <fa name="usd"></fa>
            </span> 17 Euro pp
          </p>
        </div>
        <!-- Tours-Intro Item -->
        <div class="col-4 tours-item">
          <h4>Uvac Riverside Tour</h4>
          <img class="img-thumbnail" src="https://etnosaponjic.com/public/site/images/home-slide1920_700.jpg" alt="Zlatar">
          <p class="card-body text-justify">The river Uvac is where three artificial lakes can be found. These are the Zlatar lake, the Radoinjsko lake and
            the Sjenicko lake. All three can be proud of their exceptional beauty and all three can be labelled as perfect
            camping...
          </p>
          <p class="text-justify">
            <span>
              <fa name="check"></fa>
            </span> Starts every day at 14.00 pm
            <br>
            <span>
              <fa name="clock-o"></fa>
            </span> 4 hour tour, break with drink included
            <br>
            <span>
              <fa name="usd"></fa>
            </span> 22 Euro pp
          </p>
        </div>
        <!-- Tours-Intro Item -->
        <div class="col-4 tours-item">
          <h4>Zlatibor Tour</h4>
          <img class="img-thumbnail" src="https://www.priboj033.com/wp-content/uploads/2017/10/Par-prirode-Zlatibor-800x500_c.jpg"
            alt="Zlatibor">
          <p class="card-body text-justify">You can hire a bike even for the whole day at several Zlatibor locations.The routes for mountain biking were made
            on Tornik earlier this year so that even professionals may now take a ride over these special routes.
          </p>
          <p class="text-justify">
            <span>
              <fa name="check"></fa>
            </span> Starts every day at 14.00 pm
            <br>
            <span>
              <fa name="clock-o"></fa>
            </span> 1 day tour
            <br>
            <span>
              <fa name="usd"></fa>
            </span> 40 Euro pp
          </p>
        </div>

      </div>
    </div>

    <div class="col">
      <div class="row">
        <!-- Tours-Intro Button -->
        <div class="col-12 text-center">
          <a routerLink="/tours" class="btn btn-outline-light btn-lg" href="">Take a Look on Tours</a>
        </div>

      </div>
    </div>

  </div>
</div>
<!-- End Tours-Intro -->
