.offers-banner {
    color: white;
    position: relative;
    img {
      width: 100%;
      opacity: 0.4;
    }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    p {
      font-size: 20px;
    }
  }
  
  .offer {
    padding: 2rem;
    span {
      color: #E54C3C;
    }
    .bike {
      margin-bottom: 3rem;
    }
  }
  
  textarea {
    background: transparent;
    resize: none;
    border: 0 none;
    width: 100%;
    outline: none;
    height: 38px;
    overflow: hidden
  }
  